@import "/estilos/color.css";


body{
    background-color: var(--backgroundPrincipal);
}


#tituloPrincipal{
    width: auto;
    height: 10vh;    
    padding: 20px;
    color: var(--Letra);
    text-align: center;
    font-size: 32px;
}
#subTitulo{
    margin: 20px;
}

.opciones img{
    width: 80px;
}


#selcionar-mascota {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: var(--Letra);
}

.boton-HipoCapiPy{
    margin: 10px;
    padding: 10;
    box-sizing: border-box;
       
}
.opciones input{
    display: none;
}

.opciones{
    display: flex;
    gap: 10px;
}

.mascota {
    display: flex;
    display: block;
    margin: 10px;
    background-color: var(--botones);
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid var(--bordes);
    color: white;
    width: fit-content;
    height: fit-content;
    text-align: center;
    border-radius: 10px;
    /**border-top-left-radius: 30px;
    border-top-right-radius: 30px;*/
    box-shadow: 2px 2px 2px black;
}
.mascota:hover{
    background-color: var(--seleccion);
}
.mascota:active{
    background-color: var(--seleccion);
}

#boton-mascota {    
    margin: 10px;
    background-color: var(--botones);
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid var(--bordes);
    color: white;
}